In [5]:
import pandas as pd

In [11]:
data = pd.read_csv("mysavefile.csv")
data.shape

/tmp/ipykernel_50419/4162313240.py:1: DtypeWarning: Columns (10,46,51,72,222,324,325,326,330,331) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("mysavefile.csv")

(204569, 338)

In [12]:
data.head(5)

,Unnamed: 0,SURVEY,STATEID,DISTID,PSUID,HHID,HHSPLITID,PERSONID,IDPSU,IDHH,...,MG8,MG9NM,MG10,MG11,MGYEAR5,NMIG5,MGMONTHS5,MGYEAR1,NMIG1,MGMONTHS1
0,1,(2) IHDS-II 2,(01) Jammu & Kashmir 01,2,1,10,1,1.0,10201,102010101,...,NaN,,NaN,NaN,(0) No 0,NaN,NaN,(0) No 0,NaN,NaN
1,2,(2) IHDS-II 2,(01) Jammu & Kashmir 01,2,1,10,1,2.0,10201,102010101,...,NaN,,NaN,NaN,(0) No 0,NaN,NaN,(0) No 0,NaN,NaN
2,3,(2) IHDS-II 2,(01) Jammu & Kashmir 01,2,1,10,1,3.0,10201,102010101,...,NaN,,NaN,NaN,(0) No 0,NaN,NaN,(0) No 0,NaN,NaN
3,4,(2) IHDS-II 2,(01) Jammu & Kashmir 01,2,1,10,1,4.0,10201,102010101,...,NaN,,NaN,NaN,(0) No 0,NaN,NaN,(0) No 0,NaN,NaN
4,5,(2) IHDS-II 2,(01) Jammu & Kashmir 01,2,1,10,1,5.0,10201,102010101,...,NaN,,NaN,NaN,(0) No 0,NaN,NaN,(0) No 0,NaN,NaN

In [26]:
data_columns = data.columns
data_columns = list(data_columns)
type(data_columns)
data_columns

['SURVEY',
 'STATEID',
 'DISTID',
 'PSUID',
 'HHID',
 'HHSPLITID',
 'PERSONID',
 'IDPSU',
 'IDHH',
 'IDPERSON',
 'WT',
 'FWT',
 'DIST01',
 'DISTRICT',
 'RO3',
 'RO4',
 'RO5',
 'RO6',
 'RO7',
 'RO8',
 'RO9',
 'RO10',
 'FM1',
 'FM36Y',
 'FM37',
 'FM38',
 'FMHOURS',
 'WKFARM',
 'FM39AY',
 'AN1',
 'AN5Y',
 'AN6',
 'AN7Y',
 'NF1',
 'NFBN1',
 'NF9',
 'NF12',
 'NF13',
 'NF15Y',
 'NFBN21',
 'NF29',
 'NF32',
 'NF33',
 'NF35Y',
 'NFBN41',
 'NF49',
 'NF52',
 'NF53',
 'NFDAYS',
 'NFHOURS',
 'NF55Y',
 'IN11S1',
 'IN13S1',
 'IN11S2',
 'IN13S2',
 'IN11S3',
 'IN13S3',
 'IN11S4',
 'IN13S4',
 'IN11S5',
 'IN13S5',
 'IN11S6',
 'IN13S6',
 'IN11S7',
 'IN13S7',
 'IN11S8',
 'IN13S8',
 'IN18',
 'IN19',
 'IN20',
 'IN21',
 'IN22',
 'IN23',
 'IN24',
 'ED2',
 'ED3',
 'ED4',
 'ED5',
 'ED6',
 'EDUC7',
 'EDUNDER1',
 'ED7',
 'ED8',
 'ED9',
 'ED10',
 'ED11',
 'ED12',
 'ED13',
 'MM7Y',
 'MM8',
 'MM9',
 'MM12Y',
 'MM13',
 'MM14',
 'TA3',
 'TA4',
 'TA5',
 'TA6',
 'TA8A',
 'TA8B',
 'TA9A',
 'TA9B',
 'TA10A',
 'TA10B',
 'CS3',
 'CS3Y',
 'CS4',
 'CS5',
 'CS6',
 'CS7',
 'CS8',
 'CS9',
 'CS10',
 'CS11',
 'CS12',
 'CS13',
 'CS16',
 'CS17',
 'CS18',
 'CS19',
 'CS20',
 'CS21',
 'CS22',
 'CS23',
 'CS24',
 'CS25',
 'CS26',
 'CS27',
 'CS28',
 'CH2',
 'CH3',
 'CH4A',
 'CH4B',
 'CH5',
 'CH6',
 'CH7',
 'CH8',
 'CH9',
 'CH10',
 'CH11',
 'CH12',
 'CH13',
 'CH14',
 'CH15',
 'CH16',
 'CH17',
 'CH18',
 'CH19',
 'CH20',
 'CH22',
 'SM3',
 'SM4',
 'SM5',
 'SM6',
 'SM7',
 'SM8',
 'SM9',
 'SM10',
 'SM11',
 'SM12',
 'SM14A',
 'SM14B',
 'SM15A',
 'SM15B',
 'SM16',
 'SM17',
 'SM18',
 'SM19',
 'SM20',
 'SM21',
 'SM22',
 'MB3',
 'MB4',
 'MB5',
 'MB6',
 'MB7',
 'MB8',
 'MB9',
 'MB10',
 'MB11',
 'MB12',
 'MB13',
 'MB14',
 'MB15',
 'MB16',
 'MB17',
 'MB18',
 'MB19',
 'MB21A',
 'MB21B',
 'MB22A',
 'MB22B',
 'MB23',
 'MB24',
 'MB25',
 'MB26',
 'MB27',
 'MB28',
 'MB29',
 'AD3',
 'AD4',
 'AD5',
 'AD6',
 'AD7',
 'AD8',
 'AD9',
 'TO3',
 'TO4',
 'TO5',
 'TO6',
 'AP2',
 'AP3',
 'AP5',
 'AP6',
 'AP7',
 'AP8',
 'AP9',
 'EW3Y',
 'URBAN2011',
 'URBAN4_2011',
 'METRO',
 'METRO6',
 'POVLINE2005',
 'POVLINE2012',
 'DEFLATOR',
 'NPERSONS',
 'EWELIGIBLE',
 'EWQELIGIBLE',
 'ID11',
 'ID13',
 'GROUPS',
 'NF5',
 'NF25',
 'NF45',
 'COTOTAL',
 'COPC',
 'ASSETS',
 'ASSETS2005',
 'INCCROP',
 'INCAGPROP',
 'INCANIMAL',
 'INCAG',
 'INCBUS',
 'INCOTHER',
 'INCEARN',
 'INCBENEFITS',
 'INCREMIT',
 'INCOME',
 'INCOMEPC',
 'WKANIMAL',
 'WKBUSINESS',
 'WS3NM',
 'WS4',
 'WS5',
 'WS7',
 'WS7MONTHS',
 'WS8',
 'WS8YEAR',
 'WS9',
 'WS10',
 'WS10ANNUAL',
 'WSEARN',
 'WSEARNHOURLY',
 'WS11',
 'WS11MEALS',
 'WS11HOUSE',
 'WS11MEALSRS',
 'WS11HOUSERS',
 'WS12',
 'WS13',
 'WS14',
 'WS15',
 'WS7AGLAB',
 'WS8AGLAB',
 'WSEARNAGLAB',
 'WKAGLAB',
 'WS7NONAG',
 'WS8NONAG',
 'WSEARNNONAG',
 'WKNONAG',
 'WS7SALARY',
 'WS8SALARY',
 'WSEARNSALARY',
 'WKSALARY',
 'WS7NREGA',
 'WS8NREGA',
 'WSEARNNREGA',
 'WKNREGA',
 'WKDAYS',
 'WKHOURS',
 'WKANY5',
 'RSUNEARN',
 'MHEADAGE',
 'FHEADAGE',
 'NADULTM',
 'NADULTF',
 'NCHILDM',
 'NCHILDF',
 'NTEENM',
 'NTEENF',
 'NELDERM',
 'NELDERF',
 'NMARRIEDM',
 'NMARRIEDF',
 'NWKNONAG',
 'NWKAGLAB',
 'NWKSALARY',
 'NWKBUSINESS',
 'NWKFARM',
 'NWKANIMAL',
 'NWKNREGA',
 'NWKNREGA4',
 'NWKNONNREGA',
 'NWKANY5',
 'INCNONAG',
 'INCAGLAB',
 'INCSALARY',
 'INCNREGA',
 'INCNONNREGA',
 'NNR',
 'HHEDUC',
 'HHEDUCM',
 'HHEDUCF',
 'MG4',
 'MG5',
 'MG6',
 'MG7',
 'MG8',
 'MG9NM',
 'MG10',
 'MG11',
 'MGYEAR5',
 'NMIG5',
 'MGMONTHS5',
 'MGYEAR1',
 'NMIG1',
 'MGMONTHS1']

In [29]:
for i in data_columns:
    if i == 'Unnamed: 0':
        data = data.drop(columns=['Unnamed: 0'])
    else:
        break

In [30]:
data.head(5)

,SURVEY,STATEID,DISTID,PSUID,HHID,HHSPLITID,PERSONID,IDPSU,IDHH,IDPERSON,...,MG8,MG9NM,MG10,MG11,MGYEAR5,NMIG5,MGMONTHS5,MGYEAR1,NMIG1,MGMONTHS1
0,(2) IHDS-II 2,(01) Jammu & Kashmir 01,2,1,10,1,1.0,10201,102010101,10201010101,...,NaN,,NaN,NaN,(0) No 0,NaN,NaN,(0) No 0,NaN,NaN
1,(2) IHDS-II 2,(01) Jammu & Kashmir 01,2,1,10,1,2.0,10201,102010101,10201010102,...,NaN,,NaN,NaN,(0) No 0,NaN,NaN,(0) No 0,NaN,NaN
2,(2) IHDS-II 2,(01) Jammu & Kashmir 01,2,1,10,1,3.0,10201,102010101,10201010103,...,NaN,,NaN,NaN,(0) No 0,NaN,NaN,(0) No 0,NaN,NaN
3,(2) IHDS-II 2,(01) Jammu & Kashmir 01,2,1,10,1,4.0,10201,102010101,10201010104,...,NaN,,NaN,NaN,(0) No 0,NaN,NaN,(0) No 0,NaN,NaN
4,(2) IHDS-II 2,(01) Jammu & Kashmir 01,2,1,10,1,5.0,10201,102010101,10201010105,...,NaN,,NaN,NaN,(0) No 0,NaN,NaN,(0) No 0,NaN,NaN