In [82]:
import pandas as pd

In [83]:
def readfile(name):
    data = pd.read_csv(name, low_memory=False)
    return data

data_04 = readfile("data_0405.csv")
data_04.shape

(41554, 946)

In [84]:
data_04.head(5)

,Unnamed: 0,CASEID,STATEID,DISTID,PSUID,HHID,HHSPLITID,IDHH,IDPSU,STATEID2,...,MH1AC,MH2BC,MH2BF,MH2AC,MH18BC,MH18BF,MH18AC,MH19BC,MH19BF,MH19AC
0,1,10201010,(01) Jammu & Kashmir,2,1,1,0,10201010,10201,(101) Jammu & Kashmir,...,13.0,889.0,6.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10201020,(01) Jammu & Kashmir,2,1,2,0,10201020,10201,(101) Jammu & Kashmir,...,19.0,1191.0,6.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN
2,3,10201030,(01) Jammu & Kashmir,2,1,3,0,10201030,10201,(101) Jammu & Kashmir,...,18.0,1061.0,6.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN
3,4,10201040,(01) Jammu & Kashmir,2,1,4,0,10201040,10201,(101) Jammu & Kashmir,...,20.0,1036.0,6.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,10201050,(01) Jammu & Kashmir,2,1,5,0,10201050,10201,(101) Jammu & Kashmir,...,16.0,1125.0,3.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
def clean_cols(data):
    data_columns = list(data.columns)
    for i in data_columns:
        if i == 'Unnamed: 0':
            data = data.drop(columns=['Unnamed: 0'])
        else:
            break
    return data

data_04 = clean_cols(data_04)

In [86]:
data_04.head(5)

,CASEID,STATEID,DISTID,PSUID,HHID,HHSPLITID,IDHH,IDPSU,STATEID2,DISTNAME,...,MH1AC,MH2BC,MH2BF,MH2AC,MH18BC,MH18BF,MH18AC,MH19BC,MH19BF,MH19AC
0,10201010,(01) Jammu & Kashmir,2,1,1,0,10201010,10201,(101) Jammu & Kashmir,(0102) Baramula,...,13.0,889.0,6.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
1,10201020,(01) Jammu & Kashmir,2,1,2,0,10201020,10201,(101) Jammu & Kashmir,(0102) Baramula,...,19.0,1191.0,6.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN
2,10201030,(01) Jammu & Kashmir,2,1,3,0,10201030,10201,(101) Jammu & Kashmir,(0102) Baramula,...,18.0,1061.0,6.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN
3,10201040,(01) Jammu & Kashmir,2,1,4,0,10201040,10201,(101) Jammu & Kashmir,(0102) Baramula,...,20.0,1036.0,6.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN
4,10201050,(01) Jammu & Kashmir,2,1,5,0,10201050,10201,(101) Jammu & Kashmir,(0102) Baramula,...,16.0,1125.0,3.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
# Create a new DataFrame
existing_df = data_04.copy()

new_df = existing_df.copy()

valid_values = [8, 9, 10]

# Filter the DataFrame based on the condition
filtered_df = new_df[new_df['NCHILD'].isin(valid_values)]

# Reset index after filtering
filtered_df.reset_index(drop=True, inplace=True)

fake_df = filtered_df.copy()
print(fake_df.shape)

# Add columns for partial_vaccination and no_vaccination
filtered_df['partial_vaccination'] = 0
filtered_df['no_vaccination'] = 0

# Apply conditions to set values for partial_vaccination and no_vaccination columns
filtered_df.loc[(existing_df['LB24'] == '(0) No') | 
            (existing_df['LB25'] < 3) | 
            (existing_df['LB26A'] < 3), 'partial_vaccination'] = 1

# Modify the condition for partial vaccination to ensure lb24, lb25, and LB26A are not all 0
filtered_df.loc[(existing_df['LB24'] == '(0) No') & 
            (existing_df['LB25'] == 0) & 
            (existing_df['LB26A'] == 0), 'partial_vaccination'] = 0

filtered_df.loc[(existing_df['LB24'] == '(0) No') & 
            (existing_df['LB25'] == 0) & 
            (existing_df['LB26A'] == 0), 'no_vaccination'] = 1

analysis_df = filtered_df.dropna(subset=['LB24','LB25','LB26A'])
analysis_df.reset_index(drop=True, inplace=True)

partial_no_vaccination_df = analysis_df[['partial_vaccination', 'no_vaccination']]
partial_no_vaccination_df

(144, 945)

/tmp/ipykernel_4042/892762556.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['partial_vaccination'] = 0
/tmp/ipykernel_4042/892762556.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['no_vaccination'] = 0

    partial_vaccination  no_vaccination
0                     0               0
1                     0               0
2                     0               0
3                     0               0
4                     1               0
..                  ...             ...
63                    0               0
64                    0               0
65                    1               0
66                    0               0
67                    0               0

[68 rows x 2 columns]